<!-- * * * * * * * * * * * * * * * * * * Story: Demo Client * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * Author: Zubair Mubarik * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * Date :  15th Aug 2021 * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * Description: Demo Project * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- main -->
<div class="content top-buffer" role="main">
  <div class="row">    
    <div class="col-md-1"></div>     
    <div class="col-md-10"><app-temperature></app-temperature></div>   
    <div class="col-md-1"></div> 
      
  </div>
  <div class="row">    
    <div class="col-md-12"> </div>      
  </div>
  <div class="row">
    <div class="col-md-12"> </div>    
  </div> 
</div>

<!-- * * * * * * * * * * * * * * * * * * Story: Demo Client * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * Author: Zubair Mubarik * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * Date :  15th Aug 2021 * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
